@use "variables.scss" as *;
@use "mixins.scss" as *;
@use "sass:map";

.rr-row{
	display: flex;
	flex-wrap: wrap;
}
.rr-row--reverse{
	flex-direction: row-reverse;
}
.rr-row.rr-gutters--normal{
	> *{
		padding: 12px;
	}
}
.rr-row.rr-gutters--dense{
	> *{
		padding: 8px;
	}
}

@each $breakpoint, $display in $breakpoints {
	@if ($breakpoint == null) {
		@include set-flex-class($breakpoint, $type: row);
	} @else {
		@media #{map.get($display-breakpoints, $display)} {
			@include set-flex-class($breakpoint, $type: row);
		}
	}
}