@use "variables.scss" as *;
@use "mixins.scss" as *;
@use "sass:map";
// $prefix variable is read from .env file

.#{$prefix}row{
	display: flex;
	flex-wrap: wrap;
}
.#{$prefix}row--reverse{
	flex-direction: row-reverse;
}
.#{$prefix}row.rr-gutters--normal{
	> *{
		padding: 12px;
	}
}
.#{$prefix}row.rr-gutters--dense{
	> *{
		padding: 8px;
	}
}

@each $breakpoint, $media in $breakpoints {
	@include generator($media){
		@include breakpoint-flex-classes($breakpoint, row, $prefix);
	}
}
