@use "variables.scss" as *;
@use "mixins.scss" as *;
@use "sass:map";
// $prefix variable is read from .env file

.#{$prefix}row{
	display: flex;
	flex-wrap: wrap;
}
.#{$prefix}row--reverse{
	flex-direction: row-reverse;
}
.#{$prefix}row.rr-gutters--normal{
	> *{
		padding: 12px;
	}
}
.#{$prefix}row.rr-gutters--dense{
	> *{
		padding: 8px;
	}
}

@each $breakpoint, $display in $breakpoints {
	@if ($breakpoint == null) {
		@include set-flex-class($breakpoint, row, $prefix);
	} @else {
		@media #{map.get($display-breakpoints, $display)} {
			@include set-flex-class($breakpoint, row, $prefix);
		}
	}
}