@use "mixins.scss" as *;

$breakpoints: (
		null: null,
		-sm: sm-and-up,
		-md: md-and-up,
		-lg: lg-and-up,
		-xl: xl-only,
);
@each $breakpoint, $display in $breakpoints {
	@if ($breakpoint == null) {
		@include set-flex-class($breakpoint, $type: col);
		@include set-grid-class($breakpoint);
	} @else {
		@media #{map.get($display-breakpoints, $display)} {
			@include set-flex-class($breakpoint, $type: col);
			@include set-grid-class($breakpoint);
		}
	}
}