@use "sass:map";
@use "sass:math";
@use "variables.scss" as *;

// utility flex classes
@mixin set-flex-class($breakpoint, $type, $prefix: null) {
	$flex-map: ();
	@if($type == col){
		$flex-map: (
				align-self: (auto, baseline, center, end, flex-start, flex-end, normal, self-end, self-start, start, stretch),
		);
	} @else if($type == row) {
		$flex-map: (
				justify: (center, end, flex-start, flex-end, left, normal, right, space-around, space-between, space-evenly, start, stretch),
				align-content: (baseline, center, end, flex-start, flex-end, normal, space-around, space-between, space-evenly, start, stretch),
				align: (baseline, center, end, flex-start, flex-end, normal, start, stretch),
		);
	}

	@each $flex-item, $flex-values in $flex-map {
		@each $flex-value in $flex-values{
			$value: $flex-value;
			$item: $flex-item;
			@if ($value == start) { $value: flex-start; }
			@if ($value == end) { $value: flex-end; }
			@if ($item == justify) { $item: justify-content; }
			@if ($item == align) { $item: align-items; }

			.#{$prefix}#{$flex-item}#{$breakpoint}-#{$flex-value} { #{$item}: $value !important; }
		}
	}
}

// .col-#{breakpoint}-#{value},
// .offset-#{breakpoint}-#{value}
// .order-#{breakpoint}-#{value}
@mixin set-grid-class($breakpoint, $prefix: null) {
	.#{$prefix}col#{$breakpoint}-auto{
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}
	.#{$prefix}col#{$breakpoint}-unset {
		flex-basis: fit-content;
	}

	@for $i from 1 through $default-grid-size {
		$size: 100% * math.div($i, $default-grid-size);
		.#{$prefix}col#{$breakpoint}-#{$i} {
			flex-basis: $size;
			max-width: $size;
		}
		.#{$prefix}offset#{$breakpoint}-#{$i} {
			margin-inline-start: $size;
		}
		.#{$prefix}order#{$breakpoint}-#{$i} {
			order: $i;
		}
	}
}