@use "sass:map";

$breakpoints: (
	null: null,
	-sm: only screen and (min-width: 600px),
	-md: only screen and (min-width: 960px),
	-lg: only screen and (min-width: 1280px - 16px),
	-xl: only screen and (min-width: 1920px - 16px),
);